@font-face {
    font-family: "IBM";
    src: url(../fonts/IBMPlexMono-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBM";
    src: url(../fonts/IBMPlexMono-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "IBM";
    src: url(../fonts/IBMPlexMono-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBM";
    src: url(../fonts/IBMPlexMono-ExtraLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

body {
    --color-black: #202020;
    --color-white: #d4cccc;
    --color-grey: #979797;
    --color-green: #349634;
    --color-darkgreen: #1a3f1a;
    --colo-darkgrey:#474646 ;
    --font: "IBM", monospace;
    --line: 3ch;
    --font-scale:0.4vw;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    font-size: calc(1rem + var(--font-scale));
    color: var(--color-white);
    background-color: var(--color-black);
    line-height: var(--line);
}
header, main, footer {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 24px;
}
h1 {
    color: var(--color-green);
    font-size: calc(1.6rem + var(--font-scale));
    font-weight: 200;
    line-height: var(--line);
    margin:0;
}
a {
    text-decoration: none;
}
.link-grey,
.link-darkgrey{
    cursor: pointer;
}
.text-grey {
    color: var(--color-grey);
}
.text-green {
    color: var(--color-green);
}
.text-white {
    color: var(--color-white);
}

.link-grey {
    color: var(--color-grey);
}
.link-grey:hover{
    color: var(--color-black);
    background-color: var(--color-green);
}
.link-darkgrey {
    color:var(--colo-darkgrey)
}
.link-darkgrey:hover{
    color: var(--color-black);
    background-color: var(--color-darkgreen);
}

nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
body.invert {
    --color-black: #eceaea;
    --color-white: #202020;
    --color-grey: #464646;
    --color-green: #106310;
    --color-darkgreen: #2c8d397e;
    --color-darkgrey:#474646 ;
    font-weight: 500;

}
h1.invert{
    background-color:#2c8d394f;
    font-weight: 400;
}
#page-logo {
    font-style: italic;
}
.check-list-checked::before {
    display: table;
  width: 100%;
  height: 10em;
}

.check-list-unchecked::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
li{
    list-style-type: none;
}
#column {
    width: 40px;
    padding: 0.3em 0em 0em 0em;
}
.underline{
    text-decoration-line: underline;
    text-decoration-color: var(--color-green);
}